name: Docker Build (Heavy Go Cache Demo)

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (with GHA cache)
        run: |
          docker buildx build \
            --progress=plain \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            -t go-cache-heavy-demo:test .
